/* =========================
   CONTEÚDO
========================= */
.ContainerConteudo {
  margin-left: 80px;
  margin-right: 80px;
}


.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding-right: 10px;
  padding-left: 10px;
}

.buttons-navigation {
  display: flex;
  gap: 6px;
}


.navigation button {
  background: transparent;
  border: 2px solid #f4c400;
  color: #f4c400;
  padding: 8px 16px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease; 
  margin-left: 10px;
}

.navigation button:hover {
  background-color: #f4c400;
  color: #000000;
}