/* src/components/ClienteSelect.css */


.disparo-form-container {
  background-color: #111;
  color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

h2 {
  text-align: center;
  font-size: 24px;
  color: #ffcc00;
}

.MuiFormControl-root {
  margin-bottom: 20px;
}

.MuiInputLabel-root {
  color: #ffcc00; /* Cor amarela para o label */
}

.MuiInputBase-root {
  background-color: #b1b1b1;
  color: #fff;
  border-radius: 4px;
  padding: 10px
}