  /* ============================= */
  /* INPUT PRINCIPAL */
  /* ============================= */
  .MuiInputBase-root {
    background: linear-gradient(50deg, #be9800 50%, #473900 100%);
    color: #fff;
    border-radius: 8px;
    padding: 10px;
  }
  /* Texto digitado */
  .MuiInputBase-input {
    color: #fff;
  }
  /* Placeholder */
  .MuiInputBase-input::placeholder {
    color: rgba(255, 255, 255, 0.7);
  }
  /* LABEL */
  .MuiInputLabel-root {
    color: #fff !important;
  }
.MuiInputLabel-root.Mui-focused,
.MuiInputLabel-root.MuiFormLabel-filled {
  color: #ffffff !important;
  transform: translate(0px, -15px) scale(0.85);
  padding: 0 6px;
}
/* SETA DROPDOWN */
  .MuiAutocomplete-popupIndicator {
    color: #f4c400 !important;
  }
  /* DROPDOWN (LISTA) */
  .MuiAutocomplete-paper {
    background: #111111ee !important;
  }
  /* OPÇÕES */
  .MuiAutocomplete-option {
    color: #ffffff;
    font-size: 14px;
  }
  /* Selecionado */
  .MuiAutocomplete-option[aria-selected='true'] {
    background: rgba(244, 196, 0, 0.35) !important;
  }
  /* CHECKBOX */
  .MuiCheckbox-root {
    color: #f4c400 !important;
  }
  .MuiCheckbox-root.Mui-checked {
    color: #3fa111 !important;
  }
  /* Remove foco azul padrão do MUI */
  .whatsapp-form-control .MuiInputBase-root:focus-within {
    border-color: #f4c400;
    box-shadow: 0 0 0 1px rgba(244, 195, 0, 0.788);
  }
  /* Hover / TextField */
  .dropdown-controlT .MuiInputBase-root:hover {
    box-shadow:
      inset 0 1px 0 rgba(255, 255, 255, 0.35),
      0 6px 14px rgba(244, 196, 0, 0.6) !important;
  }
  /* ===== BORDA (REMOVE AZUL DO FOCUS) ===== */
.dropdown-controlT .MuiOutlinedInput-notchedOutline {
  border: none;
}