@import url("https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Google Sans Flex", sans-serif !important;
  line-height: 1.5;
  font-weight: 400;
  max-width: 100vw;
}
html{
  min-height: 100%;
}

body,
#root {
  min-height: 100%;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
}
.app {
  min-height: 100vh;
  background: linear-gradient(45deg, #000000 31%, #f1c40f 170%);
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(0.8) sepia(1) saturate(5) hue-rotate(5deg) brightness(1.2);
  cursor: pointer;
  width: 20px;
  height: 20px;
}

input[type="date"],
input[type="time"] {
  position: relative;
}

input[type="date"]:focus,
input[type="time"]:focus {
  outline: none;
  border-color: #ffd700 !important;
}
