.previewContainer {
  width: 90%;
  height: 80px;

  display: flex;
  align-items: center;
  gap: 12px;

  padding: 0 16px;
  margin: 30px 30px;
  border-radius: 6px;

  background: linear-gradient(
    to right,
    #2a2d33,
    #1f2126
  );

  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.05),
    0 6px 16px rgba(255, 208, 0, 0.6);
}

.previewText {
  font-size: 13px;
  color: #b5b5b5;
  font-weight: 500;
  user-select: none;
}
