.EfetuarDisparoContainer {
  border-radius: "10px";
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
}
.navTitlePage {

  button{
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    background: transparent;
    box-shadow: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
  }
  button:hover{
    border: 2px solid yellow;
    background: rgba(255, 255, 255, 0.055);
  }
}
.cardMetricas{
  width: 400px;
  height: 120px;
  padding-top: 15px !important;
  background: #eab308 !important;
  border: 1px solid rgba(255, 215, 0, 0.35) !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;

  h1{
    font-size: 50px;
    font-weight: 600;
    color: #ffff;
    text-shadow: 0 1px 2px rgba(0,0,0,0.10);
  }
  h3{
    color: #ffff;
    font-weight: 600;
    text-shadow: 0 1px 2px rgba(0,0,0,0.10);
  }
}
.contentMetricas{
  padding-left: 50px;
}
.containerCenter{
  padding: 28px 29px;
  border: 1px solid rgba(245, 208, 51, 0.5) ;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow:
  0 0 10px rgba(255, 215, 0, 0.35),
  0 0 20px rgba(255, 215, 0, 0.2);
}
.FilterDropdownTemplate{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 5px ;
  border-radius: 5px;
  width: 100%;
  background: #222;
  margin-top: 5px;
  input{
    /* width: 100%; */
    padding: 5px;
    font-size: 13px;
  }
 
  .filterWrapper{
    position: relative;
    text-align: center;
    display: flex;

    .iconFilterDropdownTemplate{
      font-size: 25px;
      padding: 3px;
      border-radius: 3px;
      color: #fff;
      cursor: pointer;
    }
    .activeFilter{
      background: rgba(255, 215, 0, 0.1);
      padding: 3px;
      border-radius: 3px;
    }
    .categoryItemActive{
      background: rgba(255, 215, 0, 0.2);
    }
    .categoryMenu{
      position: absolute;
      top: -3px;
      left: 40px;
      background: #333;
      border: 1px solid rgba(255, 215, 0, 0.35);
      border-radius: 5px;
      padding: 10px;
      box-shadow:
        0 6px 10px rgba(255, 215, 0, 0.35),
        0 12px 20px rgba(255, 215, 0, 0.2);
      z-index: 9999999;
      text-align: center;
      max-height: 200px;
      width: 150px;
    }
    .categoryItem{
      padding: 5px;
      margin: 5px 0;
      border-radius: 5px;
      cursor: pointer;
      color: #fff;
    }
    
    .categoryItem:hover{
      background: rgba(255, 215, 0, 0.1);
    }
  }
  .dropdownTemplate{
    width: 150px !important;
    top: 0px;
    right: -50px;
  }
  
}
.dropdownTemplate{
  width: 100% !important;
  div:nth-child(2){
    margin-top: 2px !important;
  }
}
.containerCenterTop{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.containerInput{
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.containerButtonsPlanilha{
  display: flex;
  gap: 20px;
}
.containerPreview {
  div{
    box-shadow:
    0 6px 10px rgba(255, 215, 0, 0.35),
    0 12px 20px rgba(255, 215, 0, 0.2) !important;
  
    background: transparent !important;
    color: #fff !important;
    border: 1px solid rgba(255, 215, 0, 0.35);
    padding: 10px;
    border-radius: 10px;
    min-height: 62px;
    display: flex;
    align-items: center;
  }
  
  
  h6{
    margin-top: 0px !important;
    margin-left: 20px;
  }
}