.secondary {
  border: 2px solid #d4a600;
  background: transparent;
  color: #d4a600;
  padding: 8px 14px;
  border-radius: 6px;
  transition: 0.2s;
}

.btn-card {
  border: 2px solid #d4a600;
  background: black;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  transition: 0.2s;
}

.btn-norm {
  border: 2px solid #d4a600;
  background: transparent;
  color: white;
  padding: 8px 14px;
  border-radius: 6px;
  transition: 0.2s;  
  cursor: pointer;            
  transition: background-color 0.3s ease;  
}

.btn-norm:hover {
  background-color: #FFB800;  /* Cor do fundo ao passar o mouse (amarelo mais escuro) */
}

